@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}


.container {
    max-width: 940px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    width: 100%;

}

.header {
    display: block;
    background-image: url(img/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 1440px;
    height: 768px;
}


.logo_white_header {
    width: 101px;
    height: 23px;
    margin-top: 39px;
}



.title_text_header {
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 0.1em;
    color: #fff;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    margin: 300px 0 -5px 15px;
}

.text_header {
    font-weight: 600;
    font-size: 16px;
    color: #fff;

}

.scrol_header {

    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.34em;
    color: #ffffff;
    margin-top: 219px;
}


.navbar_papa {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.logo_navbar {
    width: 79px;
    height: 18px;
}

.words_menu_papa {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navbar {
    width: inherit;
}

.words_menu {

    font-family: "OpenSans", sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.09em;
    color: #48555b;
}

.words_menu:hover {
    color: #00a4e5;
    cursor: pointer;
}





.title_about {
    padding: 74px 0 10px 0;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.13em;
    text-align: center;
    color: #48555b;
}

.line_blue_about {
    width: 50px;
    height: 2px;
    background-color: rgba(0, 164, 229, 1);
    margin: 0 auto;
}

.about_text_foto_papa {
    display: flex;
    margin-top: 54px;

}

.text_about {
    max-width: 403px;
    margin-right: 80px;
}

.h4_about {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.01em;
    color: #48555b;
}

.h4_about_span {
    color: rgba(22, 172, 232, 1);
}

.p_about {

    font-weight: 400;
    font-size: 13px;
    line-height: 177%;
    letter-spacing: 0.01em;
    color: #48555b;
    padding-top: 29px;
}

.foto_about_papa {
    display: flex;
    gap: 20px;
    align-items: flex-end;
}

.foto_about {
    width: 140px;
    height: 224px;
    text-transform: uppercase;
    padding: 15px;
    ;
    font-weight: 800;
    font-size: 24px;
    line-height: 121%;
    letter-spacing: 0.01em;
    color: #fff;
}

.about1 {
    background-image: url(img/Bitmap1.png);
}

.about2 {
    background-image: url(img/Bitmap2.png);
}

.about3 {
    background-image: url(img/Bitmap3.png);
}


.title_services_papa {
    display: flex;
    margin-top: 117px;
    height: 40px;

}

.title_services {
    min-width: 354px;

}

.title_services_text {

    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.13em;
    color: #48555b;
    margin-bottom: 10px;


}

.line_blue_services {
    width: 50px;
    height: 2px;
    background-color: rgba(0, 164, 229, 1);
}

.text_services {
    font-weight: 400;
    font-size: 11px;
    line-height: 173%;
    letter-spacing: 0.02em;
    color: #48555b;
    margin-right: 30px;
    padding-top: 2px;
}

.button_servicces {
    margin-top: 2px;
    min-width: 150px;
    background-color: rgba(0, 164, 229, 1);
    border: none;
    color: white;
    height: inherit;
}
.button_servicces:hover {
    color: #1184b2;
    cursor: pointer;
}
.span_services {
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.04em;
    text-align: center;
    padding: 5px;
}

.services_item_papa {
    display: flex;
    margin-top: 80px;
    gap: 30px;
}

.services_item {
    width: 295px;
    height: 330px;
    border: 1px solid #e6e6e6;
    padding: 38px 20px;
}



.services_item_title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #48555b;
    padding-top: 18px;
}

.services_item_text {
    font-weight: 400;
    font-size: 13px;
    line-height: 177%;
    letter-spacing: 0.01em;
    color: #48555b;
    padding-top: 14px;
}



.get-in-touch {
    margin-top: 117px;
    background-image: url(img/bg2.png);
    max-width: 1440px;
    min-height: 500px;
    width: 100%;
    text-align: center;
    background-position: center;
    margin: 0 auto;
    margin-top: 113px;
}

.get-in-toch_text {

    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #48555b;
    max-width: 370px;
    margin: 0 auto;
    padding-top: 120px;
}

.get-in-touch_button_span {

    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
}

.get-in-touch_button {
    min-width: 150px;
    height: 40px;
    background-color: rgba(0, 164, 229, 1);
    border: none;
    color: white;
    margin-top: 35px;
}
.get-in-touch_button:hover {
    color: #1184b2;
    cursor: pointer;
}

.newsletter {
    background-color: rgba(23, 24, 25, 1);
    max-width: 1440px;
    margin: 0 auto;
    height: 100px;
    margin-top: -4px;

}
input{
    width: 100px;
}
.newslater_papa {
    display: flex;
    justify-content: center;
    gap: 70px;
    padding-top: 30px;


}

.text_newslatter {

    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    padding-top: 6px;
}

.input_newslatter {
    display: flex;
}

input {
    border: 1px solid #979797;
    width: 250px;
    height: 40px;
    background-color: white;
    padding: 8px;
}

.newslatter_button {
    min-width: 150px;
    height: 40px;
    background-color: rgba(0, 164, 229, 1);
    text-align: center;
    color: #fff;
    border: none;
}
.newslatter_button:hover {
    color: #1184b2;
    cursor: pointer;
}

.newslatter_button_text {

    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.04em;
}

.footer {
    max-width: 1440px;


    background-color: rgba(20, 26, 32, 1);
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    line-height: 227%;
    letter-spacing: 0.08em;
    color: #fff;
}

.footer_papa {
    display: grid;
    grid-template-columns: 250px 1fr 1fr 1fr;
    padding-top: 43px;

}

.footer_company {
    display: grid;
    justify-items: start;
    ;


}

.footer_company_title {
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.08em;
    text-align: center;
    color: #ffffff69;
    padding-bottom: 20px
}



.img_footer_logo {
    width: 116px;
    height: 21px;
    margin-bottom: 14px;
    margin-left: -4px;

}

.footer_company_text {

    font-weight: 400;
    font-size: 11px;
    line-height: 173%;
    letter-spacing: 0.08em;
    color: #fff;
    text-transform: capitalize;
}

.footer_links {
    display: flex;
    gap: 50px;
    padding-left: 40px;
    align-items: center;

}

.footer_table1 {
    min-width: 80px;
}



.head {
    color: gray;
    padding-top: -50px;
}



.contuct_footer {
    padding-left: 40px;
}

.contact1 {
    color: grey;
}

.contact {
    padding-bottom: 20px;
}

.img_footer {
    display: flex;
    padding-top: 30px;
}

.icons {
    max-width: 12px;
    max-height: 12px;
}


.full_down {
    background-color: rgba(23, 24, 25, 1);
    max-width: 1440px;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    text-align: center;
}

.The-End {
    padding-top: 20px;

}

@media screen and (max-width:1055px) {
    .logo_menu {
        padding-left: 8px;
    }

    .words_menu_papa {
        padding-right: 12px;
    }

    .about_text_foto_papa {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    .text_about {
        margin-right: 0;
    }

    .foto_about_papa {
        margin-top: 30px;
    }

    .title_text_header {
        margin-top: 200px;
    }

    .title_services {
        min-width: auto;
        margin: 0 auto;
    }

    .title_services_papa {
        flex-direction: column;
        text-align: center;
    }

    .line_blue_services {
        margin: 0 auto;
    }

    .button_servicces {
        width: 200px;
        min-height: 50px;
        margin: 0 auto;

    }

    .text_services {
        margin: 20px 0px;
        padding: 0px 5px;
    }

    .services_item_papa {
        flex-direction: column;
        margin-top: 150px;
    }

    .services_item {
        margin: 0 auto;
    }

    .newslater_papa {
        flex-direction: column;
        gap: 0;
        padding: 0;

    }

    .input_newslatter {
        margin: 0 auto;

    }

    .text_newslatter {
        padding-bottom: 10px;
    }

    .get-in-touch {
        margin-top: 20px;
    }
}

@media screen and (max-width: 864px) {
    .navbar_papa {
        display: inline;
        text-align: center;
    }

    .words_menu_papa {
        display: inline;
    }

    .words_menu {
        padding: 7px;
    }

    .logo_navbar {
        margin-top: 15px;

    }

    .scrol_header {
        margin-top: 100px;
    }

    .foto_about_papa {
        flex-direction: column;
    }

    .services_item {
        width: 100%;
    }

    .input_newslatter {
        flex-direction: column;
    }

    .newsletter {
        min-height: 150px;
    }

    .footer_papa {
        padding: 0 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
    }
}

@media screen and (max-width:507px) {
    .footer_papa {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .footer_company_title {
        margin: 0 auto;
    }

    .footer_company_logo {
        margin: 0 auto;
    }

    .footer_company_text {
        text-align: center;
    }

    .The-End {
        font-size: 5px;
    }

    .footer_links {
        padding: 0;
    }

    .footer_links {
        gap: 10px;

    }

    .img_footer {
        padding-right: 64px;
    }
}